*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
/* header section styles */
/* header{
    display: flex;
} */
 /* navbar section styles */

.navbar{
     display: flex;
        justify-content: space-between;
        margin: 20px 50px;
 }
.logo h3{
        font-size: 24px;
        font-weight: 700;
        color: #3A3A3A;
 }
 .nav-links{
        list-style: none;
        margin-left: auto;
 }
 .nav-links ul{
        display: flex;
        gap: 20px;
 }
 .nav-links ul li{
            display: inline-block;
            font-size: 20px;
            font-weight: 500;
    }
    .nav-links ul li a{
                text-decoration: none;
                color: #3A3A3A;
                /* transition: all 0.3s ease-in-out; */
        }
        /* header banner section */
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #AAAAAA; */
    /* width: 50%;
    padding: 20px; */
    margin: 20px 50px;
}
.banner-main{
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    max-width:50%;
    padding: 30px;
}
.banner-title{
    display: grid;
    font-size: 24px;
    color: #3A3A3A;
    margin-bottom: 20px;
    text-align: center;
    max-width: 50%;
    border-radius: 5px;
}
.banner-title h1{
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
}
.banner-title p{
    font-size: 16px;
    font-weight: 500;
    color: #3A3A3A;
}
.banner-title .btn{
     /* display: flex; */
    max-width: 250px;
    justify-content: center;
    margin-top: 20px;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #E02C6D;
    font-size: 16px;

    color: #FFFFFF;
    border: none;
    border-radius: 10px;
}
/* sponsor section company */
.sponsor-logos{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    align-items: center;
    margin: 20px 50px;
    /* flex-wrap: wrap; */
    gap: 20px;
    padding: 20px;
    border: rgba(192, 204, 218, 0.6) 1px solid;
}